/* Menu below */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #fffefd;
  background-color: #171233;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(255, 254, 254);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #aaa8a8;
}

li a.active {
  color: white;
  background-color: #171233;
}

/* Style the header */
.header {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}
